<div class="portfolio-item" id="beeinfluencer">
  <div class="container">
    <div class="portfolio-item-header item-04">
      <div class="portfolio-arrow francisco">
        <img src="/assets/img/portfolio/francisco-name.svg" alt="Francisco Ceruti" class="handwritten-name"/>
      </div>
      <div class="clearfix"></div>
      <div class="portfolio-item-header-content">
        <div class="project-client">
          <img src="/assets/img/portfolio/beeinfluencer/logo.svg" alt="BeeInfluencer logo" class="logo" style="top: -10px"/>
        </div>
        <div class="project-highlight">
          <h2 class="name">Influencer marketing platform.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-item-content light-blue">
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-6">
          <p>Francisco was responsible of all technical aspects of the platform, from the landing page copy & design, writing the code for the app & data crawling, UI/UX and user friendliness, to server configuration, security and testing. He was also very involved in key strategic decisions. The design & overall functionality received extremely great feedback both from companies & influencers.</p>
        </div>
        <div class="col-6 col-sm-6">
          <div class="topics">
            <div class="topics-item">
              <div class="topics-item-img-container">
                <img class="topics-item-img" src="/assets/img/portfolio/beeinfluencer/icon-ecommerce.svg" alt="E-Commerce"/>
              </div>
              <p class="topics-item-text">Ecommerce <span class="nowrap">& marketplace.</span></p>
            </div>
            <div class="topics-item">
              <div class="topics-item-img-container">
                <img class="topics-item-img" src="/assets/img/portfolio/beeinfluencer/icon-negotiation.svg" alt="Negotiation mechanism: proposal & counter proposal"/>
              </div>
              <p class="topics-item-text">Negotiation mechanism: proposal & counter proposals.</p>
            </div>
            <div class="topics-item">
              <div class="topics-item-img-container">
                <img class="topics-item-img" src="/assets/img/portfolio/beeinfluencer/icon-data.svg" alt="Data crawling, storage & analytics."/>
              </div>
              <p class="topics-item-text">Data crawling, storage & analytics.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <img srcset="/assets/img/portfolio/beeinfluencer/product_1x_comp.png 1x, /assets/img/portfolio/beeinfluencer/product_2x_comp.png 2x" class="beeinfluencer-product-img responsive-img " />
        </div>
      </div>
    </div>
  </div>
</div>