<div class="portfolio-item" id="concha-y-toro">
  <div class="container">
    <div class="portfolio-item-header item-03">
      <div class="portfolio-arrow isabel">
        <img src="/assets/img/portfolio/isabel-name.svg" alt="Isabel M Retamales" class="handwritten-name"/>
      </div>
      <div class="portfolio-item-header-content">
        <div class="project-client">
          <img src="/assets/img/portfolio/concha-y-toro/logo.svg" alt="Concha y Toro logo" class="logo"/>
        </div>
        <div class="project-highlight">
          <h2 class="name">Multilingual designs <br />for international markets. </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-item-content grapes">
    <div class="container">
      <div class="content">
        <div class="concha-y-toro-layout">
          <div class="column">
            <p>As a designer in the second largest wine producer in South America, Isabel worked closely with marketing, product development and sales departments creating ads, promotions and packaging. Her work was printed in giant billboards, appeared in television and was printed in millions of newspapers and magazines. She also standardized internal processes for art work requirements which improved work efficiency.</p>
          </div>
          <div class="column">
            <div class="topics">
              <div class="topics-item">
                <div class="topics-item-img-container">
                  <img class="topics-item-img tablet-or-bigger" src="/assets/img/portfolio/concha-y-toro/icon-manchester-united.svg" alt="Manchester United" />
                  <img class="topics-item-img mobile-only" src="/assets/img/portfolio/concha-y-toro/icon-manchester-united-dark.svg" alt="Manchester United" />
                </div>
                <p class="topics-item-text">Worked with big brands: Manchester United & Dallas Cowboys.</span></p>
              </div>
              <div class="topics-item">
                <div class="topics-item-img-container">
                  <img class="topics-item-img tablet-or-bigger" src="/assets/img/portfolio/concha-y-toro/icon-world.svg" alt="World" />
                  <img class="topics-item-img mobile-only" src="/assets/img/portfolio/concha-y-toro/icon-world-dark.svg" alt="World" />
                </div>
                <p class="topics-item-text">Delivered work for Africa, North America & Europe.</p>
              </div>
              <div class="topics-item">
                <div class="topics-item-img-container">
                  <img class="topics-item-img tablet-or-bigger" src="/assets/img/portfolio/concha-y-toro/icon-standard.svg" alt="Standarize internal systems."/>
                  <img class="topics-item-img mobile-only" src="/assets/img/portfolio/concha-y-toro/icon-standard-dark.svg" alt="Standarize internal systems."/>
                </div>
                <p class="topics-item-text">Implemented standardize internal systems.</p>
              </div>
            </div>
          </div>
          <div class="column">
            <img id="bottle-of-wine" src="/assets/img/portfolio/concha-y-toro/bottle-of-wine_comp.png" alt="Bottle of wine Casillero del Diablo, Cavernet Sauvignon 2014, Chile, Viña Concha y Toro."/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>