<div class="portfolio-item">
  <div class="container">
    <div class="portfolio-item-header item-03">
      <div class="portfolio-arrow isabel">
        <img src="/assets/img/portfolio/isabel-name.svg" alt="Isabel M Retamales" class="handwritten-name"/>
      </div>
      <div class="clearfix"></div>
      <div class="portfolio-item-header-content">
        <div class="project-client">
          <img src="/assets/img/portfolio/concha-y-toro/logo.svg" alt="Concha y Toro logo" class="logo"/>
        </div>
        <div class="project-highlight">
          <h2 class="name">Multilingual designs <br />for international markets. </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-item-content">

  </div>
</div>