<div class="portfolio-item">
  <div class="container">
    <div class="portfolio-item-header item-05">
      <div class="portfolio-item-header-content">
        <div class="project-client">
          <img src="/assets/img/portfolio/oviedo/logo.svg" alt="Ferreterías Oviedo logo" class="logo" id="oviedo-logo" style="top: -10px"/>
        </div>
        <div class="project-highlight">
          <h2 class="name">Sales workflow optimization tool.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-item-content">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-12">
            <div class="quote">
              <div class="quote-content">
                <div class="quote-content-quote-left">
                  <img src="/assets/img/portfolio/oviedo/quote_left.svg" alt="quote left" class="quote-content-quote-left-img"/>
                </div>
                <p class="quote-content-text"><span class="mobile-only">“</span>Contratamos a GuidePost para desarrollar una aplicación web de uso interno, con el fin de mejorar nuestra productividad en el ciclo comercial y el resultado fue muy bueno. Gracias chicos.<span class="mobile-only">”</span></p>
                <div class="quote-content-quote-right">
                  <img src="/assets/img/portfolio/oviedo/quote_right.svg" alt="quote right" class="quote-content-quote-right-img"/>
                </div>
              </div>
              <div class="quote-author">
                <div class="quote-author-picture">
                  <img class="quote-author-picture-img" src="/assets/img/portfolio/oviedo/francisco.png" alt="Francisco Muñoz"/>
                </div>
                <div class="quote-author-info">
                  <h3 class="quote-author-info-name">Francisco Muñoz</h3>
                  <p class="quote-author-info-role">Board Member Ferreterías Oviedo</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <img class="oviedo-portada" srcset="/assets/img/portfolio/oviedo/portada_1x_comp.png 1x, /assets/img/portfolio/oviedo/portada_2x_comp.png 2x" class="responsive-img oviedo-product-img" alt="Person using a sales assistant software."/>
          </div>
          <div class="col-6 col-sm-6">
            <p>For Ferreterías Oviedo® we developed a client/server webapp that 10X the quotation generation process.</p>
            <p>The app presents an easy-to-use interface that hides all the complexities associated with having multiple sources of data and separated systems to access them. To achive this, we built a quoting system that generates beautiful PDF documents to send to clients that uses a customized search engine on top of their product databases and third party catalogue.</p>
          </div>
          <div class="col-6 col-sm-6">
            <div class="topics">
              <div class="topics-item">
                <div class="topics-item-img-container">
                <img class="topics-item-img" src="/assets/img/portfolio/oviedo/icon-elastic-search-engine.svg" alt="Catalogue search engine."/>
                </div>
                <p class="topics-item-text">Catalogue search engine.</p>
              </div>
              <div class="topics-item">
                <div class="topics-item-img-container">
                <img class="topics-item-img" src="/assets/img/portfolio/oviedo/icon-business-workflow.svg" alt="Bussiness workflow optimization"/>
                </div>
                <p class="topics-item-text">Bussiness workflow optimization.</p>
              </div>
              <div class="topics-item">
                <div class="topics-item-img-container">
                <img class="topics-item-img" src="/assets/img/portfolio/oviedo/icon-pdf.svg" alt="PDF document generation."/>
                </div>
                <p class="topics-item-text">PDF document generation.</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <img srcset="/assets/img/portfolio/oviedo/product_1x_comp.png 1x, /assets/img/portfolio/oviedo/product_2x_comp.png 2x" class="responsive-img oviedo-product-img" alt="Computer showing sales automation software."/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>