---
title: GuidePost | Independent Creative Partners
description: We design personal user/customer experiences. Develop design, innovation, strategy, products and services. Create jaw-dropping mobile and web applications that have a positive impact in the world. Want to team up? smile@guidepost.design
keywords: user eperience, customer experience, personal, web apps, applications, games, social media, mobile apps, web applications, web, web development, designer, software developer, design, software development, product design, product design team, team.
hiddable_header: true
mountain_step: 1
---

<div class="splash-screen">
  <div class="background">

      <div class="splash-elements">
        <!-- Logo -->
        <div id="splash-logo">
          <img id="splash-logo-svg" src="/assets/img/logos/imagetype_horizontal_segreen.svg" alt="GuidePost logo" />
        </div>
        <div id="splash-slogan" >
          {% include slogan.svg %}
        </div>
        <div id="splash-team">
          <div id="splash-designer" class="splash-team-member" >
            {% include arrow_designer.svg %}
            {% include text_designer.svg %}
            <img class="name" src="/assets/img/splashscreen/button_isabel.svg" alt="Isabel" id="isabel-btn"/>
          </div>
          <div id="splash-developer" class="splash-team-member">
            {% include arrow_developer.svg %}
            {% include text_developer.svg %}
            <img class="name" src="/assets/img/splashscreen/button_francisco.svg" alt="Francisco" id="francisco-btn"/>
          </div>
        </div>
    </div>
  </div>
</div>
<svg id="blackboard-top-curve" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>
<div class="landing-whiteboard">
  <div class="container">
    <div class="content">
      <img src="/assets/img/splashscreen/blocktext_webuildyourdreams_big_white.svg" class="brand-message tablet-or-bigger"/>
      <img src="/assets/img/splashscreen/blocktext_webuildyourdreams_small_white.svg"  class="brand-message mobile-only"/>
      <div class="row">
        <div class="col-6">
            <p>We are a product design team. We aim to design and develop, strategy,  innovation, products and services that will help your business grow and have a positive impact in the world.</p>
            <img src="/assets/img/splashscreen/illustration_webcreation.png" id="illustration-webcreation"/>
            <p>We anticipate, solve problems and create products & services that deliver unique experiences.  We complement each other skills and think that working collaboratively make us achieve the best results.</p>
        </div>
        <div class="col-6">
          <p>Create jaw-dropping mobile and web applications, advert games, and make your idea come to life would be the result of competitor, customer, and user research, assume challenges, measuring success, design intuitive interfaces and craft authentic experiences with business goals in sight.</p>
          <img src="/assets/img/splashscreen/illustration_one_stop_shop.png" id="illustration-onestop"/>
          <img src="/assets/img/splashscreen/block_text_letsteamup_1B708A_954x139.png" id="whiteboard-lets-team-up"/>
          <img src="/assets/img/splashscreen/block_text_mail_1B708A_954x63.png" id="blackboard-email"/>
        </div>
      </div>
    </div>
  </div>
</div>