---
title: GuidePost | Independent Creative Partners
description: We design personal user/customer experiences. Develop design, innovation, strategy, products and services. Create jaw-dropping mobile and web applications that have a positive impact in the world. Want to team up? smile@guidepost.design
keywords: user eperience, customer experience, personal, web apps, applications, games, social media, mobile apps, web applications, web, web development, designer, software developer, design, software development, product design, product design team, team.
hiddable_header: true
mountain_step: 1s
---

<div id="splash-screen">
  <div id="splash-background">
    <div id="splash-elements">
      <div id="splash-logo">
        <img id="splash-logo-svg" src="/assets/img/logos/imagetype_horizontal_segreen.svg" alt="GuidePost logo" />
      </div>
      <div id="splash-slogan" >
        {% include slogan.svg %}
      </div>
      <div id="splash-team">
        <div id="splash-designer" class="splash-team-member" >
          {% include arrow_designer.svg %}
          {% include text_designer.svg %}
          <img class="name" src="/assets/img/splashscreen/button_isabel.svg" alt="Isabel" id="isabel-btn"/>
        </div>
        <div id="splash-developer" class="splash-team-member">
          {% include arrow_developer.svg %}
          {% include text_developer.svg %}
          <img class="name" src="/assets/img/splashscreen/button_francisco.svg" alt="Francisco" id="francisco-btn"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="whiteboard-top-curve">
  <svg id="whiteboard-top-curve-svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 1000 100" >
    <path d="M1000,0.135L1000,99.865L0,99.865L0,0.135L0.503,0.135C498.832,99.999 799.089,99.999 999.758,0.135L1000,0.135Z"/>
  </svg>
</div>
<div id="landing-whiteboard">
  <div class="container">
    <div class="content">
      <div class="whiteboard-single-column">
        <img src="/assets/img/splashscreen/blocktext-we_build_your_dreams.svg" id="we-build-your-dreams" alt="We build your dreams"/>
        <p class="splash-text">We are a <span class="marker">product design team</span>. We develop and design innovative experiences that will help your business grow and have a positive impact in the world.</p>
        <p class="splash-text">We <span class="marker">complement each other skills</span> and think that working collaboratively make us achieve the best results. We take pride in noticing and anticipating those little moments of joy or anxiety that make or break a user experience. Our goal is to create <span class="marker">unique products</span> that your users and customers will fall in love with.
        <img srcset="/assets/img/splashscreen/illustration-guidepost_1x_comp.png 1x, /assets/img/splashscreen/illustration-teamwork_2x_comp.png 2x" id="illustration-webcreation" alt="GuidePost teamwork"/>
        <p class="splash-text">Together we’ll turn your idea into a jaw-dropping e-commerce, mobile and/or web application, social media campaign, advert game or what’s needed.</p>
        <img src="/assets/img/splashscreen/blocktext-letsteamup.png" id="whiteboard-lets-team-up" alt="Lets team up!"/>
        <img src="/assets/img/splashscreen/blocktext-email.png" id="whiteboard-email" alt="smile@guidepost.design"/>
      </div>
    </div>
  </div>
</div>