---
title: GuidePost | Independent Creative Partners 💡
description: We specialize in building jaw-dropping mobile and web applications that delight our customers. If you are about to change the world and need help with that, contact us.
lang: en
hiddable_header: true
---

<div class="splash-screen">
  <div class="blur"></div>
  <div class="background">
    <div class="splash-elements">
      <!-- Logo -->
      <img id="splash-logo" src="/assets/img/logos/imagetype_horizontal_lightgrey.svg" alt="GuidePost logo" />
      <!-- Slogan -->
      <!-- <img src="/assets/img/splashscreen/greatness.svg" id="splash-slogan"/> -->
      {% include greatness.svg %}

      <!-- <img id="splash-slogan" src="/assets/img/splashscreen/slogan_white_1384x252-compressor.png" alt="Greatness is in the details."/> -->
      <!-- Team -->
      <div id="splash-team">
        <div id="splash-developer" class="splash-team-member" >
            <img class="arrow" src="/assets/img/splashscreen/arrow_developer_francisco.svg" />
            {% include text_developer.svg %}
            <img class="name bounceIn" src="/assets/img/splashscreen/button_francisco.svg" />
        </div>
        <div id="splash-designer" class="splash-team-member">
            <img class="arrow" src="/assets/img/splashscreen/arrow_designer_isabel.svg" />
            {% include text_designer.svg %}
            <img class="name bounceIn" src="/assets/img/splashscreen/button_isabel.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
<svg id="blackboard-top-curve" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>
<div class="landing-blackboard">
  <div class="container">
    <div class="content">
      <img src="/assets/img/splashscreen/blocktext_webuildyourdreams_big_white.svg" class="brand-message tablet-or-bigger"/>
      <img src="/assets/img/splashscreen/blocktext_webuildyourdreams_small_white.svg"  class="brand-message mobile-only"/>
      <div class="row">
        <div class="col-6">
            <p>We are couple / associates / partners-in-crime, where she is the designer (Isabel) and he is the developer (Francisco).</p>
            <img src="/assets/img/splashscreen/blocktext_weleftbehind_white.svg" id="blackboard-left-behind"/>
            <p>Until recently we have been working separately, but now we decided to team up. As a designer and a developer we complement each other’s skills,</p>
        </div>
        <div class="col-6">
          <p>achieving results that not only work and look fantastic, but also is something users need. We specialize in building jaw-dropping mobile and web applications that delight our customers.</p>
          <img src="/assets/img/splashscreen/blocktext_ifyouarelooking_white.svg" id="blackboard-call-to-action"/>
          <img src="/assets/img/splashscreen/blocktext_letsteamup_white.svg" id="blackboard-let-team-up"/>
          <img src="/assets/img/splashscreen/blocktext_mail_white.svg" id="blackboard-email"/>
        </div>
      </div>
    </div>
  </div>
</div>