---
layout: content
title: Journal | GuidePost
description: This is a place where we write about people, and generate new ideas we find interesting that can make an impact on the global challenges we have ahead.
keywords: blog, write, opinion, test, prototyping, ideas, interesting, inspiration, inpirational, solving problems, solutions, comparative solutions, problem solving ideas, design thinking, system design, product design thinking, ideas development, thinking area, solution area, opinion area, generat ideas, gobal challenges.
active_menu: journal
body_class: journal-body padding-top
mountain_step: 3
---
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="journal-header">
        <h1 class="title">Journal</h1>
        <p class="slogan">We are in constant movement, learning, thinking and discussing. If you are too, take a look, here you'll find our last writings about people and ideas we think are worth a visit - and revisit. Join the conversation and leave us your thoughts if you feel like there's something left unsaid.</p>
    </div>
  </div>
</div>
{% assign journal_items = site.journal | reverse %}
<div class="entry-previews">
  {% for item in journal_items %}
    <div class="entry-preview {% if forloop.last %}last{% endif %}">
      <div class="row">
        <div class="col-2 tablet-or-bigger"></div>
        <div class="col-4">
          <h3 class="number">{{ item.number }}</h3>
        </div>
        <div class="col-4">
          <h2 class="title"><a href="{{ item.url }}">{{ item.title }}</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p class="date">{{ item.ddate }}</p>
            <p class="summary">{{ item.summary }}</p>
            <a href="{{ item.url }}" class="read-more-btn">
              <span>Read more</span>
              <img src="/assets/img/icons/arrow.svg" alt="red arrow" class="arrow-link"/>
            </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
