---
layout: base
title: Portfolio | GuidePost
description: Learn about some projects we've worked on? Check them out!
keywords: influencer marketing platform, multilingual designs for international markets, won bidding against 20+ competitors, developed the soul of the brand.
active_menu: portfolio
body_class: padding-top
mountain_step: 4
---

<div class="portfolio-header">
  <div class="portfolio-header-background">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="portfolio-header-title">Portfolio</h1>
        </div>
      </div>
    </div>
  </div>
</div>

{% include portfolio-items/beeinfluencer.html %}
{% include portfolio-items/concha-y-toro.html %}
{% include portfolio-items/cdecsic.html %}
{% include portfolio-items/late.html %}

<div class="whiteboard-border-curve bottom">
  <svg class="whiteboard-border-curve-svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 1000 100" >
    <path d="M1000,0.135L1000,99.865L0,99.865L0,0.135L0.503,0.135C498.832,99.999 799.089,99.999 999.758,0.135L1000,0.135Z"/>
  </svg>
</div>
