<div class="row calltoaction-row">
    <div class="col-4">
        <div class="calltoaction-form">
            <form action="https://guidepostcreative.us19.list-manage.com/subscribe/post?u=20fd62f82bfdeda0ba02007cc&amp;id=41c08b5c99" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label class="calltoaction-title">Newsletter</label> 
                <p>News about our latest projects, tips & tricks, tools that we are using and lessons learned.</p>   
                <input class="calltoaction-email-input" name="EMAIL" type="email" placeholder="Leave us your email"/>
                <input class="calltoaction-button" value="Subscribe" type="submit"/>
            </form>
        </div>
    </div>
    
    <div class="col-8">
        <img src="/assets/img/journal/common/calltoaction.png" alt="subscribe & comment"/>
    </div>
</div>