<footer class="footer">
  <div class="mountains step-{{ page.mountain_step }}"></div>
  <div class="container">
    <div class="content">
      <div class="contact">
        <div class="col">
          <div class="newsletter">
            <h3 class="newsletter-title">Newsletter</h3>
            <div class="newsletter-slide">
              <img class="newsletter-icon" src="/assets/img/footer/newsletter.svg" alt="Signup to our newsletter"/>
              <div class="newsletter-form">
                <form action="https://guidepostcreative.us19.list-manage.com/subscribe/post?u=20fd62f82bfdeda0ba02007cc&amp;id=41c08b5c99" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <input class="newsletter-email-input" name="EMAIL" type="email" placeholder="Leave us your email"/>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="clock" id="footer-guidepost-clock">
            <div class="location"></div>
            <div class="time"></div>
            <div class="date"></div>
          </div>
          <div class="clock" id="footer-guest-clock">
            <div class="location"></div>
            <div class="time"></div>
            <div class="date"></div>
          </div>
        </div>
      </div>
      <div class="credits">
        <p><img src="/assets/img/logos/favicon_white.svg" class="footer-logo" alt="GuidePost white imagetype"/> Proudly made in <span class="nowrap"><a href="https://duckduckgo.com/?q=Chile&t=h_&iax=images&ia=images" target="_blank" rel="noopener">Chile</a> with ❤️</span></p>
      </div>
    </div>
  </div>
</footer>