@import 'variables'


$header-height: 280px
$header-mobile-height: 180px

$header-background-url: '/assets/img/about-us/pictures/picture_up_about-us-1450.jpg'
$page-background-url: '/assets/img/about-us/icons/background_toolbox_web.svg'

$profile-picture-width: 220px
$profile-picture-border-width: 8px


.about-us-header
  height: $header-height
  @media (max-width: $page-threashold-mobile)
    height: $header-mobile-height
.about-us-picture
  height: $header-height
  background-image: url($header-background-url)
  background-size: 1450px
  background-position: center -45px
  background-repeat: no-repeat
  overflow: hidden
  background-blend-mode: saturation
  @media (max-width: $page-threashold-mobile)
    height: $header-mobile-height
    background-image: url($header-background-url)
    background-size: 800px
    background-position: center -20px

.about-us-title
  font-size: 160px
  text-align: center
  @media (max-width: $page-threashold-tablet)
    font-size: 120px
  @media (max-width: $page-threashold-mobile)
    font-size: 60px

  &.top
    margin: 165px 0 0
    color: lighten($primary_color_2, 10%)
    @media (max-width: $page-threashold-tablet)
      margin: 194px 0 0
    @media (max-width: $page-threashold-mobile)
      margin: 137px 0 0

  &.bottom
    color: $secondary_color_2
    margin-top: -115px
    z-index: -1
    @media (max-width: $page-threashold-tablet)
      margin-top: -86px

    @media (max-width: $page-threashold-mobile)
      margin-top: -43px

.about-us-lead
  line-height: 1.5em
  text-align: center
  max-width: 630px
  margin: 0 auto
  padding: 0 $gutter
  span
    display: block
    @media (max-width: $page-threashold-mobile)
      display: inline

.page.about-us
  background-size: 1450px
  background-position: center -45px
  background-image: url($page-background-url)
  background-size: 1450px
  background-repeat: no-repeat
  background-position: center bottom
  @media (max-width: $page-threashold-mobile)
    background-size: 1200px

.profile
  .profile-picture-container
    border: 6px solid $secondary_color_1
    border-radius: 50%
    width: $profile-picture-width + 2 * $profile-picture-border-width
    height: $profile-picture-width + 2 * $profile-picture-border-width
    .profile-picture
      width: $profile-picture-width
      height: $profile-picture-width
      border-radius: 50%
      border: $profile-picture-border-width solid white

  .profile-header
    height: 70px
    margin: 2 * $gutter 0
    .profile-name
      img
        max-width: 100%
      &.francisco
        img
          height: 28px
          position: relative
          bottom: 2px
          @media (max-width: $page-threashold-mobile)
            height: 22px
      &.isabel
        img
          height: 36px
          @media (max-width: $page-threashold-mobile)
            height: 30px
    .profile-social-networks
      li
        display: inline
        list-style-type: none
        a
          text-decoration: none
          margin-right: 10px
          &:hover
            opacity: 0.8

      .social-network-icon
        width: 32px
  .profile-content
    .profile-bio
      line-height: 1.5em
    .profile-tools-title
      font-weight: bold
      font-size: $font-size
      color: $secondary_color_1
      a
    .profile-tools-text
      font-size: $font-size
      color: $secondary_color_1
    .profile-tools-icons
      display: flex
      flex-wrap: wrap
      align-items: center
      .profile-tools-icon
        display: inline
        margin: 0 12px 12px 0
