@import 'variables'

$footer-logo-height: 50px
$newsletter-height: 80px
$newsletter-width: 400px
$newsletter-bg-color: $footer-color

$newsletter-btn-height: 70px
$newsletter-btn-width: 0

$footer-dim-color: #647677


.footer
  padding: (4 * $gutter) 0 0
  background-color: $footer-background
  background-image: url(/assets/img/footer/pattern_dot.svg)
  color: $footer-color

  .contact
    margin: 0 0 6 * $gutter
    display: flex
    align-items: flex-end
    justify-content: space-between
    @media (max-width: $page-threashold-mobile)
      flex-direction: column-reverse

    .col
      height: 100%
      @media (max-width: $page-threashold-mobile)
        width: 100%

    .newsletter
      @media (max-width: $page-threashold-mobile)
        margin-top: 4 * $gutter
      .newsletter-title
        color: white
        font-weight: bold
        margin-bottom: $gutter
      .newsletter-info
        position: relative
        height: $newsletter-height
        @media (max-width: $page-threashold-mobile)
          height: auto
        .newsletter-icon
          height: $newsletter-height
          float: left
          margin-right: $gutter
          @media (max-width: $page-threashold-mobile)
            width: 60%
            height: auto
            float: none
            margin: $gutter $gutter $gutter 0
        .newsletter-lead
          color: white


      .newsletter-form
        margin: 2 * $gutter 0 0
        padding: 0
        position: relative
        height: $newsletter-height
        transition: all 0.3s
        background: none
        display: flex
        flex-direction: row
        @media (max-width: $page-threashold-mobile)
          left: 0
          width: 100%
          flex-direction: column

        .newsletter-email-input
          border: none
          width: 70%
          padding: 30px 15px
          color: white
          font-style: italic
          font-size: $font-size
          height: $newsletter-height - 60px
          background: $footer-dim-color
          border-radius: 0
          &:focus
            outline: none
          &::placeholder
            color: lighten(white, 30%)
          @media (max-width: $page-threashold-mobile)
            width: auto
            padding: 15px

        .newsletter-submit
          height: $newsletter-height
          padding: 30px 15px
          border: none
          font-size: $font-size
          position: relative
          width: 40%
          margin-left: 4px
          font-weight: bold
          background: transparent
          overflow: hidden
          font-family: 'Bitter'
          span
            position: absolute
            left: 15px
            top: 30px
            color: white
          @media (max-width: $page-threashold-mobile)
            width: 100%
            border: 1px solid $footer-dim-color
            padding: 20px 15px
            margin: 15px 0 0
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            span
              position: relative
              top: 0
              left: 0
            &:hover
              background: white
              border-color: white
              span
                color: $secondary_color_2 !important


          .newsletter-btn-bg
            height: $newsletter-height
            position: absolute
            top: 0
            right: 0
            z-index: 0
            path
              fill: $footer-dim-color
            @media (max-width: $page-threashold-mobile)
              right: -15px
              display: none
          &:hover
            cursor: pointer
            span
              color: white
            .newsletter-btn-bg
              path
                fill: $secondary_color_2

      .newsletter-footer
        font-size: $font-size-small
        text-align: left
        margin-top: $gutter
        color: $footer-dim-color

  .credits
    text-align: center
    display: flex
    align-items: center
    height: 80px
    color: $footer-dim-color
    a
      text-decoration: none
      color: inherit
      &:hover
        text-decoration: underline

    .footer-logo
      height: 24px
      width: 24px
      position: relative
      top: 5px
    @media (max-width: $page-threashold-mobile)
      text-align: right
      float: right
      font-size: $font-size-small
      margin-right: $gutter
      height: 20px
      p
        margin-bottom: 0


#guidepost-footer-links
  position: relative
  width: 300px
  top: 222px
  margin-top: -122px
  .guidepost-footer-link
    &:hover
      fill: white
      cursor: pointer
  @media (max-width: $page-threashold-mobile)
    width: 100%
    top: 244px
    margin-top: -150px


.footer-clocks
  display: flex
  flex-direction: row
  float: right
  @media (max-width: $page-threashold-mobile)
    flex-direction: column

  .clock
    margin-bottom: 0
    &:first-child
      margin-right: $gutter
    .location
      font-size: $font-size-small
      color: $footer-dim-color
    .time
      font-size: $font-size-big
      color: white
    .date
      font-size: $font-size-small
      color: $footer-dim-color

    @media (max-width: $page-threashold-mobile)
      margin-right: $gutter
      margin-bottom: 0
      .location
        text-align: right
      .time
        text-align: right
        font-size: 20px
      .date
        text-align: right


#footer-guidepost-clock
  margin-bottom: 20px
  .location
    color: $primary_color_3
  @media (max-width: $page-threashold-mobile)
    margin-bottom: 0

@media (max-width: $page-threashold-mobile)
  .last-row
    display: flex
    flex-direction: column-reverse
