@import 'variables'

$journal-line-space: 1.5em
$journal-line-width: 0.1em
$jounral-line-color: lighten($secondary_color_2, 45%)

.journal-body
  background: $primary_color_2
  background-image: url(/assets/img/footer/pattern_dot.svg)

  .page
    margin: 0
    padding-top: 0
    .content
      background-color: white
      background-image: linear-gradient(0deg, transparent $journal-line-space, $jounral-line-color $journal-line-space, $jounral-line-color $journal-line-space + $journal-line-width)
      background-size: 100% $journal-line-space + $journal-line-width
      border-radius: 0 0 50px 50px
      padding: 4 * $gutter 2*$gutter

  .footer
    background: none

.journal-header
  .title
    font-size: 6 * $font-size
    text-align: center
    margin-bottom: $gutter
    color: $secondary_color_1
  .slogan
    font-size: $font-size
    text-align: center

.entry-preview
  padding: 6 * $gutter 0
  border-bottom: 1px dashed $secondary_color_2
  &.last
    border-bottom: none

  .number
    color: $primary_color_1
    font-size: 15 * $font-size
    font-weight: bold
    line-height: 0.7em

  .title
    font-size: 3 * $font-size
    line-height: 1.3em
    font-weight: bold
    margin: 0

    a
      color: $title-color
      text-decoration: none
      transition: all .2s ease-in-out
      &:hover
        color: $secondary_color_2

  .date
    margin: 2 * $gutter 0 0
    color: $secondary_color_2

  .read-more-btn
    color: $primary_color_3
    text-decoration: none
    font-style: italic
    .arrow-link
      display: block
      transform-origin: 0 50%
      transition: all .2s ease-in-out

    &:hover
      .arrow-link
        transform: scale(1.5, 1)

$journal-number-size: 2 * $font-size
$journal-number-margin: 5px
$journal-number-height: $journal-number-size + (2 * $journal-number-margin)

.journal-entry
  position: relative
  .journal-number
    height: $journal-number-height
    .left-body
      background: $secondary_color_2
      width: percentage(1/10)
      float: left
      height: $journal-number-height
    .counter
      float: left
      font-size: $journal-number-size
      font-weight: bold
      color: white
      height: $journal-number-height
      background: $secondary_color_2
      padding: 0 20px
      span
        position: relative
        top: $journal-number-margin
        line-height: 0.9em

    .point
      float: left
      width: 0
      height: 0
      border-top: $journal-number-height / 2 solid transparent
      border-bottom: $journal-number-height / 2 solid transparent
      border-left: $journal-number-height / 2 solid $secondary_color_2
    &:after
      content: ""
      clear: both

  .journal-title
    font-size: $font-size * 4
    margin: $gutter 0
    @media (max-width: $page-threashold-mobile)
      font-size: $font-size * 2

  .journal-content
    margin-bottom: $gutter * 6
  .journal-date
    margin: 2 * $gutter 0 0
    color: $secondary_color_2

  .journal-caption
    text-align: center
    text-transform: uppercase
    letter-spacing: 1px
    font-weight: normal
    font-size: round($font-size * 0.7)
  figure
    margin-bottom: $gutter
    p
      margin: 0
  img
    max-width: 100%
  ul
    list-style-type: disc
    padding-left: 25px
    margin-bottom: $gutter
    li
      margin-bottom: 5px
  a
    color: $secondary_color_2
    &:hover
      color: $secondary_color_1
      text-decoration-color: $secondary_color_1

  b
    font-weight: bold
  font-size: 18px
  line-height: 1.6em
  p
    font-size: 18px
    line-height: 1.6em

@media (max-width: $page_width)
  .journal-body
    .container
      width: 100%
    .page
      .content
        margin-top: 0
    .footer
      background-color: $footer_background
      background-image: url(/assets/img/footer/pattern_dot.svg)

  .entry-preview
    padding: $gutter 0 2 * $gutter
    &.last
      border-bottom: none

    .number
      font-size: 10 * $font-size
      text-align: left
      margin-bottom: $gutter
      margin-left: -$gutter

    .title
      font-size: 2 * $font-size
      margin: 0
    .date
      margin: 0 0 $gutter


  .journal-header
    margin-bottom: 2 * $gutter
    .title
      font-size: 4 * $font-size
      text-align: center
    .slogan
      font-size: $font-size
      text-align: center

  .journal-entry
    .journal-number
      .left-body
        width: 0
      .counter
        padding: 0 20px 0 10px