@import 'variables'

.navbar
  height: $navbar-height
  transition: transform 0.5s ease-in-out
  background: $navbar-background-color
  z-index: 1000

  &.hiddable
    position: fixed
    top: 0
    left: 0
    right: 0

  &.unpin
    transform: translateY(-$navbar-height)
  &.pin
    transform: none

  .inner-navbar
    padding: 0 $gutter
    display: flex
    justify-content: space-between

  #navbar-logo
    margin: $gutter 0 0 $gutter
    height: $navbar-height - (2* $gutter)


  .menu
    .menu-links
      height: $navbar-height
      display: flex
      transition: all 0.5s

      li
        height: 100%
        line-height: $navbar-height

        a
          color: $navbar-color
          height: $navbar-height
          display: block
          padding: 0 $gutter
          text-decoration: none
          transition: all 0.3s
          &:hover
            color: $navbar-active-color
        &.active
          a
            border-bottom: 2px solid $navbar-active-color

  #mobile-menu-btn
    height: 25px
    margin: 36px $gutter

  .close-btn
    height: $navbar-height - 4 * $gutter

@media (max-width: $page-width)
  .menu
    .menu-links
      display: none !important
      padding: $gutter

      &.open
        display: flex !important
        flex-direction: column
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: white
        height: 100%
        z-index: 100000
        li
          display: block
          font-size: 20px
          text-align: right
          background: white
          a
            height: auto
          &.active
            a
              border: none
              color: $link_color