@import 'variables'

#navbar
  height: $navbar-height
  transition: transform 0.5s ease-in-out
  background: $navbar-background-color
  z-index: 10000000

  @media (max-width: $page-width)
    height: $navbar-height-mobile

  &.navbar-fixed
    position: fixed
    top: 0
    left: 0
    right: 0

  &.hiddable
    &.unpin
      transform: translateY(-$navbar-height)
    &.pin
      transform: none

  .inner-navbar
    padding: 0 $gutter
    display: flex
    justify-content: space-between

  #navbar-logo
    margin: $gutter 0 0 $gutter
    height: $navbar-height - (2* $gutter)

    @media (max-width: $page-width)
      margin: $gutter 0 0 $gutter
      height: $navbar-height-mobile - (2* $gutter)

  .menu
    .menu-links
      height: $navbar-height
      display: flex
      transition: all 0.5s

      @media (max-width: $page-width)
        display: none !important
        padding: 2 * $gutter
        height: 100% !important

        &.open
          display: flex !important
          flex-direction: column
          position: fixed
          top: 0
          left: 0
          right: 0
          bottom: 0
          background: white
          height: 100%
          z-index: 100000

      li
        height: 100%
        line-height: $navbar-height
        @media (max-width: $page-width)
          display: block
          font-size: 20px
          text-align: right
          background: white
        a
          color: $navbar-color
          height: $navbar-height - 2px
          display: block
          padding: 0 $gutter
          text-decoration: none
          transition: all 0.3s
          &:hover
            color: $navbar-active-color
          @media (max-width: $page-width)
            font-size: $font-size-big
            height: auto

        &.active
          a
            border-bottom: 2px solid $navbar-active-color
            @media (max-width: $page-width)
              border: none
              color: $link_color

  #mobile-menu-btn
    height: 25px
    margin: 36px $gutter
    @media (max-width: $page-width)
      height: 20px
      margin: 30px $gutter

  .close-btn
    height: $navbar-height - 4 * $gutter
