@import 'variables'

$header-height: 300px
$header-height-mobile: 240px
$header-background-url: '/assets/img/portfolio/header-background.svg'

$portfolio-item-header-height: 333px
$portfolio-item-header-height-mobile: 400px
$arrow-height: 54px
$arrow-height-mobile: 40px


// HEADER
.portfolio-header
  height: $header-height
  margin: $gutter 0 6 * $gutter

  &-background
    height: $header-height
    background-image: url($header-background-url)
    background-size: 1500px
    background-position: center center
    background-repeat: no-repeat

  &-title
    font-size: 96px
    text-align: left
    margin: 88px 0 0
    color: $text-color

  @media (max-width: $page-threashold-mobile)
    height: $header-height-mobile

    &-background
      height: $header-height-mobile
      background: none

    &-title
      font-size: 60px
      text-align: center

// ITEM: HEADER
#concha-y-toro
  margin-bottom: 140px

#beeinfluencer
  margin-bottom: 140px

.portfolio-item
  margin-bottom: 4 * $gutter

  &:after
    content: " "
    clear: both

  &-header
    background-repeat: none
    background-position: center right
    background-repeat: no-repeat
    height: $portfolio-item-header-height
    position: relative

    @media (max-width: $page-threashold-mobile)
      height: $portfolio-item-header-height-mobile
      &-content
        height: $portfolio-item-header-height-mobile

    &.item-05
      background-image: url(/assets/img/portfolio/oviedo/number.svg)
    &.item-04
      background-image: url(/assets/img/portfolio/beeinfluencer/number.svg)
    &.item-03
      background-image: url(/assets/img/portfolio/concha-y-toro/number.svg)
    &.item-02
      background-image: url(/assets/img/portfolio/cdecsic/number.svg)
    &.item-01
      background-image: url(/assets/img/portfolio/late/number.svg)
    &-content
      display: flex
      flex-direction: row
      align-items: center
      height: $portfolio-item-header-height
      justify-content: space-around

      @media (max-width: $page-threashold-mobile)
        flex-direction: column
        justify-content: center

      .project-client
        .logo
          position: relative
          max-width: 300px
          @media (max-width: $page-threashold-mobile)
            width: 80%
            margin-bottom: $gutter
            margin: 90px 10% 50px

      .project-highlight
        .name
          font-size: 32px
          font-style: italic
          color: $text-color
          @media (max-width: $page-threashold-mobile)
            font-size: 20px
            color: $text-color
            text-align: center
            margin: 0 $gutter

    .portfolio-arrow
      height: $arrow-height
      position: absolute
      top: 0
      @media (max-width: $page-threashold-mobile)
        height: $arrow-height-mobile

      .handwritten-name
        margin: 0 $gutter
      &:after
        content: " "
        height: 0
        width: 0
        top: 0
        border: $arrow-height / 2 solid transparent
        position: absolute
        z-index: 1

      &.francisco
        background: $secondary_color_2
        left: 0
        .handwritten-name
          height: 30px
          margin-top: 9px
          @media (max-width: $page-threashold-mobile)
            height: 20px
        &:after
          right: -45px
          border-left: $arrow-height / 3 solid $secondary_color_2
          @media (max-width: $page-threashold-mobile)
            right: -33px
            border: $arrow-height-mobile / 2 solid transparent
            border-left: $arrow-height-mobile / 3 solid $secondary_color_2
        &.francisco
        .handwritten-name
      &.isabel
        background: $secondary_color_1
        right: 0
        .handwritten-name
          height: 40px
          margin-top: 11px
          @media (max-width: $page-threashold-mobile)
            height: 30px
            margin-top: 9px
        &:after
          left: -45px
          border-right: $arrow-height / 3 solid $secondary_color_1
          @media (max-width: $page-threashold-mobile)
            left: -33px
            border: $arrow-height-mobile / 2 solid transparent
            border-right: $arrow-height-mobile / 3 solid $secondary_color_1

  &-content
    padding: 4 * $gutter 0
    &.light-blue
      background: #EBEFF2
    &.grapes
      background-image: url(/assets/img/portfolio/concha-y-toro/background_comp.jpg)
      background-repeat: no-repeat
      background-position: center center
      background-size: 1600px
      @media (max-width: $page-threashold-mobile)
        background-size: 500px
        background-position: center bottom

    @media (max-width: $page-threashold-mobile)
      padding-top: 0
      &.light-blue
        padding-top: 4 * $gutter

    .topics
      display: flex
      flex-direction: row
      justify-content: space-between
      @media (max-width: $page-threashold-mobile)
        flex-direction: column

      &-item
        display: flex
        flex-direction: column
        align-items: center
        padding: 0 5px
        @media (max-width: $page-threashold-mobile)
          padding: 0
          display: block
          margin-bottom: 2 * $gutter

        &-img-container
          height: auto
          height: 55px
          margin-bottom: $gutter
          height: 50px
          @media (max-width: $page-threashold-mobile)
            width: 70px
            margin: 0 0 10px
            float: left

        &-img
          height: 55px
          margin: 0 auto
          @media (max-width: $page-threashold-mobile)
            height: auto
            width: 50px
            margin: 0 auto
        &-text
          text-align: center
          font-weight: bold
          color: $secondary_color_1
          margin: 0
          @media (max-width: $page-threashold-mobile)
            text-align: left
      &.light
        .topics-item
          padding: 0 7px
          &-text
            color: $secondary_color_2

    .concha-y-toro-layout
      display: flex
      flex-direction: row
      @media (max-width: $page-threashold-mobile)
        flex-direction: column
      .column
        width: 33%
        color: white
        padding: 0 $gutter
        display: flex
        align-items: center
        @media (max-width: $page-threashold-mobile)
          width: 100%
          color: $text-color

      .topics
        flex-direction: column
        color: white
        @media (max-width: $page-threashold-mobile)
          margin-top: 50px

        &-item
          align-items: center
          padding: 0 25px
          margin-bottom: 4 * $gutter
          @media (max-width: $page-threashold-mobile)
            display: block
            margin-bottom: 2 * $gutter
            padding: 0

          &:last-item
            margin-bottom: 0

          &-img-container
            height: 60px
            margin-bottom: $gutter
            @media (max-width: $page-threashold-mobile)
              height: 50px
              width: 70px
              margin: 0 0 10px
              float: left

          &-img
            height: 60px
            margin: 0 auto
            @media (max-width: $page-threashold-mobile)
              height: auto
              width: 50px
              margin: 0 auto

          &-text
            text-align: center
            font-weight: bold
            color: white
            @media (max-width: $page-threashold-mobile)
              text-align: left
              color: $text-color

    #bottle-of-wine
      float: right
      margin-top: -120px
      margin-bottom: -150px
      height: 1000px
      @media (max-width: $page-threashold-mobile)
        float: none
        height: 500px
        margin: 0 auto -140px

    .oviedo-product-img
      width: 100%
      margin: 0
      @media (max-width: $page-threashold-mobile)
        width: 100%
        margin: 0

    .beeinfluencer-product-img
      margin-bottom: -140px

    .cdecsic-product-img
      width: 80%
      margin: 0 10%
      @media (max-width: $page-threashold-mobile)
        width: 100%
        margin: 0

    .late-product-img
      width: 50%
      margin-left: 25%
      @media (max-width: $page-threashold-mobile)
        width: 80%
        margin-left: 10%
