@import 'variables'

.splash-screen
  position: relative
  height: 100%
  min-height: 600px
  width: 100%
  overflow: hidden
  flex: 1 0 auto
  .blur
    position: absolute
    top: -15px
    right: -15px
    bottom: -15px
    left: -15px
    background: url('/assets/img/francisco_and_isabel.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    -webkit-filter: blur(10px)
    -moz-filter: blur(10px)
    -o-filter: blur(10px)
    -ms-filter: blur(10px)
    filter: blur(10px)
    z-index: -1

  .background
    height: 100%
    max-width: $page_width
    margin: 0 auto
    background: url('/assets/img/francisco_and_isabel.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.splash-elements
  position: relative

$logo-width: 600px

#splashscreen-logo
  width: $logo-width
  margin: 40px ($page-width - $logo-width) / 2 0

.landing-blackboard
  background: $secondary_color_2
  height: 600px
  flex: 1 0 auto


@media (max-width: $page_width)

  #splashscreen-logo
    width: 80%
    margin: 0 10%

$splash-max-height-mobile: 600px
@media (max-width: 500px)
  .splash-screen
    height: $splash-max-height-mobile
    max-height: $splash-max-height-mobile
    .background
      height: $splash-max-height-mobile
      max-height: $splash-max-height-mobile
      background-position: 50% 40%
      background-repeat: no-repeat
      background-size: 140%

  #splashscreen-logo
    width: 80%
    margin: 20px 10%


