@import 'variables'

.splash-screen
  position: relative
  height: 100%
  width: 100%
  overflow: hidden

  .blur
    position: absolute
    top: -15px
    right: -15px
    bottom: -15px
    left: -15px
    background: url('/assets/img/francisco_and_isabel.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    -webkit-filter: blur(10px)
    -moz-filter: blur(10px)
    -o-filter: blur(10px)
    -ms-filter: blur(10px)
    filter: blur(10px)
    z-index: -1

  .background
    height: 100%
    max-width: $page_width
    margin: 0 auto
    background: url('/assets/img/francisco_and_isabel.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.landing-blackboard
  background: $secondary_color_2
  height: 600px