@import 'variables'

body, html
  height: 100%
  width: 100%

body

  &.padding-top
    padding-top: $navbar-height
    @media (max-width: $page-width)
      padding-top: $navbar-height-mobile

.container
  max-width: $page_width
  margin: 0 auto

.content
  padding: 0 2 * $gutter

.page
  padding: 4 * $gutter 0
  flex: 1 0 auto

.footer
  flex-shrink: 0

.clearfix::after
  content: ""
  clear: both
  display: table

.nowrap
  white-space: nowrap
