@import 'variables'

body, html
  height: 100%
  width: 100%

body
  display: flex
  flex-direction: column
  overflow-x: hidden


.container
  max-width: $page_width
  margin: 0 auto

.content
  padding: 0 $gutter

.page
  margin: 4 * $gutter 0
  flex: 1 0 auto

.footer
  flex-shrink: 0



@media (max-width: $page_width)

  .container
    width: $page_width


// @media (max-width: 500px)
//   html, body
//     width: $page-width-mobile
//     max-width: $page-width-mobile
//   .container
//     width: $page-width-mobile