@import 'variables'

body
  font-family: 'Bitter', serif
  font-size: $font-size
  line-height: 1.6em
  color: $text-color

h1, h2, h3
  color: $title-color
  line-height: 1.6em

h1
  font-size: $font-size-huge
  font-weight: 700
  line-height: 1.2em
  margin-bottom: 3 * $gutter

a
  text-decoration: none
  color: $text-color
  // border-bottom: 3px solid $link-color
  text-decoration: underline
  text-decoration-color: $link-color
  text-decoration-style: solid
  &:hover
    color: $link-color

p
  margin-bottom: $gutter

strong
  font-weight: bold

em
  font-style: italic