// Colors
$primary_color_1: #E5E5E5
$primary_color_2: #0C2C2D
$primary_color_3: #D83830

$secondary_color_1: #1B708A
$secondary_color_2: #4FB0BB

// Typography
$font-size: 16px
$font-size-huge: 4 * $font-size
$title_color: $primary_color_2
$text_color: $primary_color_2
$link_color: $secondary_color_2

// Page
$page_width: 1060px
$gutter: 16px

// Footer
$footer-height: 300px

// Navbar
$navbar-background-color: $primary_color_1
$navbar-height: 6 * $gutter

// Breadcrumbs
$breadcrumbs_background: $primary_color_1
$breadcrumbs_color: $primary_color_2

// Footer
$footer_background: #333333
$footer_color: $primary_color_1
