// Colors
$primary_color_1: #E5E5E5
$primary_color_2: #0C2C2D
$primary_color_3: #D83830

$secondary_color_1: #1B708A
$secondary_color_2: #4FB0BB

// Typography
$font-size: 16px
$font-size-big: 2 * $font-size
$font-size-huge: 4 * $font-size
$font-size-small: 12px
$title-color: $primary_color_2
$text-color: #4F4F4F
$link-color: $secondary_color_2

// Page
$page_width: 1060px
$gutter: 16px

// Splashscreen
$logo-width: 400px
$logo-width-tablet: 400px
$brand-message-width: $page-width * 0.9
$splash-height-mobile: 700px

// Footer
$footer-background: $primary_color_2
$footer-color: $primary_color_1

// Navbar
$navbar-color: $title-color
$navbar-background-color: $primary_color_1
$navbar-height: 6 * $gutter
$navbar-height-mobile: 5 * $gutter
$navbar-active-color: $secondary_color_1

// Breadcrumbs
$breadcrumbs_background: $primary_color_1
$breadcrumbs_color: $primary_color_2

// Footer

