<!DOCTYPE html>
<html lang="en">
<head>
    {% include meme.html %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Primary Meta Tags -->
    <title>{{ page.title }}</title>
    <meta name="title" content="{{ page.title }}">
    <meta name="description" content="{{ page.description }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://guidepost.design{{ page.url }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://guidepost.design/assets/img/metatags/guidepost-team.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://guidepost.design{{ page.url }}">
    <meta property="twitter:title" content="{{ page.title }}">
    <meta property="twitter:description" content="{{ page.description }}">
    <meta property="twitter:image" content="https://guidepost.design/assets/img/metatags/guidepost-team.jpg">
    <!-- Pinterest verify -->
    <meta name="p:domain_verify" content="111ea832707c5492952a7e99a76010b9"/>

    <!-- Progressive Web App -->
    <link rel="manifest" href="https://guidepost.design/manifest.json" />

    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" />
    <link rel="icon" href="{{ '/assets/img/logos/favicon_color.png' | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" type="image/gif" />
    {% include loader_css.html %}
    {% include google/google_analytics.html %}
    <script type="text/javascript">
        var guidepostLocation = "{{ site.guidepost_location }}";
        var guidepostTimeZone = "{{ site.guidepost_timezone }}";
        var guidepostLat = {{ site.guidepost_lat }};
        var guidepostLng = {{ site.guidepost_lng }};
    </script>
</head>
<body id="body" class="{{ page.body_class }}">
    {% include loader.html %}
    <div class="navbar navbar-fixed {% if page.hiddable_header == true %}hiddable unpin{% endif %}" id="navbar">
        <div class="container">
            <div class="inner-navbar">
                <div class="logo-container">
                    <a href="/">
                        <img src="/assets/img/logos/imagetype_horizontal_segreen.svg" id="navbar-logo" alt="GuidePost logo." />
                    </a>
                </div>
                <div class="menu">
                    <div class="tablet-or-smaller">
                        <img src="/assets/img/icons/menu.svg" id="mobile-menu-btn" onclick="javascript: document.getElementById('menu-links').classList.add('open');" />
                    </div>
                    <ul class="menu-links" id="menu-links">
                        <li class="mobile-only">
                            <a onclick="javascript: document.getElementById('menu-links').classList.remove('open');">
                                <img src="/assets/img/icons/close.svg" class="close-btn"/>
                            </a>
                        </li>
                        <li class="mobile-only">
                            <a href="/">Home</a>
                        </li>
                        <li {% if page.active_menu == "about-us" %}class="active"{% endif %}>
                            <a href="/about-us">About us</a>
                        </li>
                        <li {% if page.active_menu == "journal" %}class="active"{% endif %}>
                            <a href="/journal">Journal</a>
                        </li>
                        <li {% if page.active_menu == "portfolio" %}class="active"{% endif %}>
                            <a href="/portfolio">Portfolio</a>
                        </li>
                        <li {% if page.active_menu == "lets-talk" %}class="active"{% endif %}>
                            <a href="/lets-talk">Let's talk</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ content }}
    {% include footer.html %}
    <script type="text/javascript" src="/assets/js/libs/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/libs/fancybox/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="/assets/js/libs/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/libs/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/menu.js' | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/newsletter.js' | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/clock.js' | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/lets-talk.js' | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}"></script>
    {% include loader_js.html %}
</body>
</html>
