---
layout: content
---
<div class="journal-entry">
  <div class="journal-number">
      <div class="left-body"></div>
      <div class="counter">
        <span>{{ page.number }}</span>
      </div>
      <div class="point"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="journal-content">
          {{ content }}
        </div>
        {% include calltoaction.html %}
        {% include disqus.html %}
      </div>
    </div>
  </div>
</div>
